* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    margin: 0 auto;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --yellow: #f3df6b;
    --green: #5fe0be;
    --yellow-green: #11bd0d;
    --sushi: #97b442;
    --firefly: #0b2131;
    --clay: #1b1f28;
    --red: #d62308;
    --blue: #2700ef;
    --blue-line: #1657ff;
    --dodger-blue: #4884ff;
    --oxford-blue: #394b58;
    --perfume: #cdc4fb;
    --geraldine: #fb998a;
    --pink-line: #ee27ff;
    --red-line: #ff4e65;
    --orange-line: #ff9b00;
    /* Fonts */
    --red-hat-text: "Red Hat Text", sans-serif;
}
body {
    font-family: "Prompt", sans-serif;
    color: var(--firefly);
}
h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
}
h2 {
    font-size: 50px;
    font-weight: 500;
}
h3 {
    font-size: 30px;
    font-weight: 500;
}
h4 {
    font-size: 30px;
    font-weight: 600;
}
h5 {
    font-size: 24px;
    font-weight: 500;
}
h6 {
    font-size: 20px;
    font-weight: 700;
}
p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
p.lg {
    font-size: 24px;
}
p.sm {
    font-size: 16px;
}
/* button style */

.btn {
    border: 2px solid var(--firefly);
    height: 52px;
    padding: 0 28px;
    background-color: var(--white);
    color: var(--firefly);
    font-family: "Prompt", sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease-out;
}
.btn.sm {
    height: 48px;
}
.btn.lg {
    height: 48px;
    border-color: var(--black);
    font-size: 22px;
    font-weight: 500;
}
.btn.primary {
    color: var(--white);
    font-weight: 500;
}
.btn.bg-blue {
    background-color: var(--dodger-blue);
}
.btn.bg-green {
    background-color: var(--yellow-green);
}
.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px var(--black);
}
.shadow-btn {
    height: 68px;
    padding: 0 27px;
    box-shadow: 5px 5px 0px 0px var(--black);
    color: var(--clay);
    background-color: transparent;
    font-family: "Prompt", sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 25px;
    transition: all 0.3s ease-out;
}
.shadow-btn.bg-blue {
    background-color: var(--dodger-blue);
}
.shadow-btn.bg-green {
    background-color: var(--green);
}
.shadow-btn.primary {
    color: var(--white);
}
.shadow-btn:hover {
    cursor: pointer;
    gap: 35px;
    box-shadow: 0 0 0 0 var(--black);
}
/* header style */
.header {
    display: flex;
    background-color: var(--green);
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    border-bottom: 2px solid var(--black);
    height: 97px;
}
.logo {
    padding: 0 38px;
    height: 97px;
    border-right: 2px solid var(--black);
    display: flex;
    align-items: center;
}
.header-right {
    height: 97px;
    padding-left: 38px;
    border-left: 2px solid var(--black);
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
    gap: 47px;
    text-transform: uppercase;
}
.link {
    color: var(--firefly);
    font-size: 20px;
    transition: all 0.3s ease-out;
}
.link:hover {
    color: var(--dodger-blue);
}
/* hero style */
.hero {
    display: flex;
    height: calc(100vh - 97px);
}
.hero-left {
    width: 52%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 48px;
    padding-left: 86px;
    background-color: var(--green);
}
.hero-left .hero-icon {
    position: absolute;
    top: 75px;
    right: 435px;
}
.hero-left h1 {
    padding-right: 243px;
}
.hero-left p{
    margin-top: 16px;
    padding-right: 290px;
}
.hero-left input {
    margin-top: 50px;
    background-color: transparent;
    color: var(--firefly);
    font-size: 20px;
    padding: 14px 0;
    border: none;
    border-bottom: 1.5px solid var(--firefly);
}
.hero-left button {
    margin-top: 42px;
}
.hero-right {
    width: 48%;
    padding-right: 48px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
