* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --yellow: #f3df6b;
    --green: #5fe0be;
    --yellow-green: #11bd0d;
    --sushi: #97b442;
    --firefly: #0b2131;
    --clay: #1b1f28;
    --red: #d62308;
    --blue: #2700ef;
    --blue-line: #1657ff;
    --dodger-blue: #4884ff;
    --oxford-blue: #394b58;
    --perfume: #cdc4fb;
    --geraldine: #fb998a;
    --pink-line: #ee27ff;
    --red-line: #ff4e65;
    --orange-line: #ff9b00;
    /* Fonts */
    --red-hat-text: "Red Hat Text", sans-serif;
}
body {
    font-family: "Prompt", sans-serif;
}
h1 {
    font-size: 60px;
    font-weight: 600;
}
h2 {
    font-size: 50px;
    font-weight: 500;
}
h3 {
    font-size: 30px;
    font-weight: 500;
}
h4 {
    font-size: 30px;
    font-weight: 600;
}
h5 {
    font-size: 24px;
    font-weight: 500;
}
h6 {
    font-size: 20px;
    font-weight: 700;
}
p {
    font-size: 20px;
    font-weight: 400;
}
p.lg {
    font-size: 24px;
}
p.sm {
    font-size: 16px;
}
/* button style */

.btn {
    border: 2px solid var(--firefly);
    height: 52px;
    padding: 0 28px;
    background-color: var(--white);
    color: var(--firefly);
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease-out;
}
.btn.sm {
    height: 48px;
}
.btn.lg {
    height: 48px;
    border-color: var(--black);
    font-size: 22px;
    font-weight: 500;
}
.btn.primary {
    color: var(--white);
    font-weight: 500;
}
.btn.bg-blue {
    background-color: var(--dodger-blue);
}
.btn.bg-green {
    background-color: var(--yellow-green);
}
.btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px var(--black);
}
.shadow-btn {
    height: 68px;
    padding: 0 27px;
    box-shadow: 5px 5px 0px 0px var(--black);
    color: var(--clay);
    background-color: transparent;
}
.shadow-btn.primary {
    color: var(--white);
}
